/releases/
/.local-archive/
**/.runtime-stage-*/
**/.client-package-*/
**/__pycache__/
*.pdb
*.obj
!client/windows-x64/game/Data/World*/EncTerrain*.obj
*.lib
*.idb
*.i64
*.blend
*.psd
*.kra
*.key
*.pfx
*.p12
Thumbs.db
.DS_Store
